<div class="jumbotron">
  <h1>Are you ready for Bible Jeopardy?</h1>
  <p class="lead">Prepare to challenge your friends, your enemies, and your church leaders to a <del>friendly</del> game of Bible Jeopardy.</p>
  <a class="btn btn-large btn-success" href="/practice">Start Practice</a>
</div>

<hr>

<div class="footer">
  <p>© 2013-<%= Time.now.strftime('%Y') %> Mike Wyatt Design </p>
</div>
