.navbar-inner {
    background-color: white;
    background-image: none;
}

.sign-up {
    color: white !important;
    background-color: $green;
    @include background-image(linear-gradient(to bottom, #62c462, #51a351));
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    &:hover {
        @include background-image(linear-gradient(to bottom, darken(#62c462, 5%), darken(#51a351, 5%)));
        @include transition (background-image 0.5s linear);
    }

}
.log-out {
    color: white !important;
    background-color: $red;
    @include background-image(linear-gradient(to bottom, #C46262, #A35151));
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    &:hover {
        @include background-image(linear-gradient(to bottom, darken(#C46262, 5%), darken(#A35151, 5%)));
        @include transition (background-image 0.5s linear);
    }

}